.title-app-section {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-20%, -70%);
}

.title-app-section-flex {
    display: block;
}

.search-artist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.no-search-artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.title-app {
    text-align: center;
    margin-top: 3.5rem;
    margin-bottom: 0;
    font-size: 5rem;
    color: #322e4a;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-family: "Moirai One", cursive;
}

.title-app > span {
    font-size: 5rem;
    color: #1db954;
}

.form-container {
    display: flex;
    width: 20rem;
    position: relative;
    margin-top: 2rem;
}

.artist-input {
    border-radius: 1rem;
    border: 1px solid rgb(160, 156, 156);
    padding: 0.6rem 3rem 0.6rem 1rem;
    font-size: 1.2rem;
}

.search-button {
    position: absolute;
    right: 1.3rem;
    top: 2%;
    height: 95%;
    border: none;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    background-color: transparent;
    cursor: pointer;
}
.search-button > img {
    height: 1.5rem;
}

.short-info {
    margin-top: 0.6rem;
    font-size: 0.7rem;
    color: #322e4a;
}

.artist-info-section {
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
    width: 50%;
    background-color: #221f32;
    border-radius: 1rem;
    padding: 1.5rem 0;
    color: rgb(190, 187, 187);
    box-shadow: 0px 0px 15px rgb(163, 162, 162);
}

.artist-error {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.artist-container {
    width: 80%;
    margin: 1.5rem auto;
}

.artist-image-container {
    display: flex;
    justify-content: center;
}

.artist-image {
    height: 8rem;
    border-radius: 50%;
    box-shadow: 6px 0px 12px #464646;
    border: 1px solid #444061;
}

.artist-name-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(208, 206, 206, 0.87);
}

.artist-name-container > img {
    margin-right: 0.6rem;
    margin-top: 1.4rem;
    height: 1.1rem;
}

.artist-name {
    margin-bottom: 0.2rem;
}

.popularity-info,
.top-tracks-subtitle,
.albums-subtitle {
    padding-bottom: 0.3rem;
    border-bottom: 1px solid gray;
}

.artist-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

p > span {
    font-size: 0.7rem;
}

.spotify-link {
    display: flex;
    margin-top: 0.7rem;
}

.spotify-img {
    height: 1.5rem;
    margin-right: 0.5rem;
}

.genres-title {
    margin-top: 2rem;
    margin-bottom: 0;
}

.genres-list {
    margin: 0;
    margin-top: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    font-size: 0.7rem;
}

.genres-list > li {
    display: block;
    background-color: #1e1c2d;
    margin-right: 0.5rem;
    padding: 0.2rem 0.7rem;
    border-radius: 0.3rem;
    margin-top: 0.4rem;
}

.top-tracks-list {
    list-style: none;
    padding: 0;
}

.track-item {
    display: flex;
    align-items: center;
}

.track-name-container {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.dot-img {
    height: 0.5rem;
    margin-right: 0.4rem;
}

.track-name {
    font-size: 0.8rem;
    font-weight: normal;
    margin: 0.4rem 0;
}

/* ------- audio */
.track-item > audio {
    height: 1.2rem;
    width: 50%;
}

audio {
    height: 1.4rem;
}

.audio-tag {
    font-size: 0.2rem !important;
}

audio::-webkit-media-controls-panel {
    background-color: rgb(171, 171, 171);
}

.img-audio {
    position: absolute;
    height: 0.7rem;
    top: 0.12rem;
    left: 0.2rem;
}

.button-audio {
    position: relative;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    background-color: rgba(208, 206, 206, 0.87);
    border: none;
    margin-right: 0.5rem;
}

/* ----end audio */

.albums-subtitle,
.top-tracks-subtitle {
    margin-bottom: 0;
    color: rgba(208, 206, 206, 0.87);
}

.albums-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.album-item {
    display: flex;
    background-color: #1e1c2d;
    border-radius: 0.2rem;
    padding: 0.5rem 0.7rem;
    margin-bottom: 1rem;
    transition: all 0.4s ease-in-out;
}

.album-item:hover {
    background-color: #322f4c;
}

.album-item > a {
    text-decoration: none;
}

.album-img {
    width: 8rem;
    height: 9rem;
    border-radius: 0.2rem;
}

.album-title {
    width: 8rem;
    font-size: 0.8rem;
    margin: 0;
    margin-top: 0.2rem;
    color: rgba(208, 206, 206, 0.87);
}

.album-songs {
    margin-top: 0.2rem;
    color: rgba(208, 206, 206, 0.87);
    font-size: 0.6rem;
}

footer {
    position: relative;
}

footer > div {
    position: absolute;
    bottom: 0.3rem;
    font-size: 0.8rem;
    left: 50%;
    transform: translate(-50%);
    color: #322e4a;
}

.alert {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 2rem;
    top: 2rem;

    background-color: #fbf0da;
    color: #956910;
    border-left: 6px solid #fb9609;
    padding: 10px 16px 10px 11px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: fade 0.3s ease-in-out forwards;
}

.alert-image {
    width: 1.5rem;
    padding-right: 0.6rem;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
